* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
    body {
      margin: 0;
      padding: 0;
    }

.title {
    width: 100%;
}

.background {
    position: static;
}

.background-2 {
    position: fixed;
    z-index: -100;
}

.info-container {
    background-color: rgb(37, 37, 37);
    border: 7px solid rgb(69, 69, 69);
    border-radius: 10px;
    padding: 50px;
    width: 1000px;
    color: white;
    z-index: 2;
}

.info-container-2 {
    background-color: rgb(37, 37, 37);
    border: 7px solid rgb(69, 69, 69);
    border-radius: 10px;
    padding: 50px;
    width: 800px;
    color: white;
    z-index: 2;
}

.info-container-character {
    background-color: rgb(37, 37, 37);
    border: 7px solid rgb(69, 69, 69);
    border-radius: 10px;
    padding: 30px;
    width: 1200px;
    height: 600px;
    color: white;
    z-index: 2;
}

.strength {
    background-color: #32cea6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    margin: 8px;
    border-radius: 7px;
    font-size: 25px;
    cursor: grab;
}

.pulse {
    animation: pulse 0.9s linear infinite;
    animation-direction: alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }
}

.hide {
    display: none !important;
}

.drop-container {
    margin: 8px;
    width: 250px;
    height: 70px;
    border-radius: 7px;
    background-color: rgb(69, 69, 69);
    transition: all 0.3s ease;
}

.strength p {
    margin: 0;
}

.stat-line {
    border-radius: 10px;
    height: 40px;
    background: linear-gradient(-270deg, #32cea6, #32cea6, rgba(91,221,217,1), rgba(241,106,245,1), rgba(245,106,152,1));
    background-size: 200% 200%;
    animation: grow 1.5s ease-in-out;
}

.anim-1 {
    animation: strength-anim 2s ease;
    animation-fill-mode: forwards;
}

.anim-2 {
    animation: smarts-anim 2s ease;
    animation-fill-mode: forwards;
}

.anim-3 {
    animation: agility-anim 2s ease;
    animation-fill-mode: forwards;
}

.anim-4 {
    animation: pushover-anim 2s ease;
    animation-fill-mode: forwards;
}

@keyframes strength-anim {
    0%{
        background-position:0%;
        width: 200px;
    }
    100%{
        background-position:100%;
        width: 400px;
    }
}

@keyframes smarts-anim {
    0%{
        background-position:0%;
        width: 500px;
    }
    100%{
        background-position:100%;
        width: 700px;
    }
}

@keyframes agility-anim {
    0%{
        background-position:0%;
        width: 340px;
    }
    100%{
        background-position:100%;
        width: 890px;
    }
}

@keyframes pushover-anim {
    0%{
        background-position:0%;
        width: 800px;
    }
    100%{
        background-position:100%;
        width: 35px;
    }
}

.stat-line-back {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 890px;
    border-radius: 10px;
    height: 40px;
    background-color: rgb(69, 69, 69);
}

.stat-group {
    position: relative;
    text-align: right;
}

@keyframes grow {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.document {
    background-color: rgb(214, 214, 214);
    color: black !important;
    font-size: 30px;
    padding: 15px;
}

.redacted {
    height: 25px;
    background-color: rgba(102,166,164,1);
    box-shadow: 0px 0px 10px 1px rgba(81,235,230,0.87);
    display: inline-block;
}

.author {
    z-index: -1;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.toggle {
	background-color: rgb(69, 69, 69);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	position: relative;
	height: 40px;
	width: 90px;
	transform: scale(1.5);
    margin: 20px auto;
}

.toggle .ball {
	background-color: grey;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 35px;
	width: 35px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .toggle .ball {
	transform: translateX(50px);
}


.fa-dog {
	color: #32cea6;
    font-size: 20px;
}

.fa-dna {
    color: rgba(245,106,152,1);
    font-size: 20px;
}

.fa-stat {
    color: white;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 27px;
}

.classified-svg {
    width: 600px;
}

.classified-container {
    display: flex;
}

.classified-container img {
    animation: pulse 0.9s linear infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.classified-container p {
    font-size: 30px;
    letter-spacing: 0.7px;
    margin-left: 50px;
}

.close-document {
    cursor: pointer;
    font-size: 18px;
}